$width-board: 880px;
$height-board: 565px;
$font-family: "RM Neue", sans-serif;
$size-text: 32px;
$time-text-color: #d63226;
$txt-color: #fff;
$txt-status-color: #06afff;
$color-bg: #000;
$color-hover: #ffe506;
$font-weight: bold;
$transform: uppercase;

body {
  background-color: $color-bg;
  margin: 0;
  padding: 0;
  width: 100%;
}

#maintable {
  padding-top: 0;
  width: 100%;
  background: url(./img/bg1.png) no-repeat 0 0;
  background-size: 100% !important;
  height: 712px;
  visibility: visible;

}

#maintable #board > div {
  top: -40px;
}

#board {
  width: $width-board;
  height: $height-board;
}

.timebar {
  position: relative;
}

#timebar {
  position: relative;
  margin: 0 auto;
  top: -30px;
  width: 23px;
  max-height: 469px;
  background: url(./img/timebar.png) no-repeat center bottom;
}

.timetxt {
  position: relative;
  color: $time-text-color;
  font-size: 20px;
  font-weight: $font-weight;
  font-family: $font-family;
  top: -10px;
  text-align: center;
  text-transform: $transform;
}

.status {
  position: relative;
  width: 250px;
  font-style: normal;
  font-size: 32px;
  color: $txt-status-color;
}

.status div {
  text-align: center;
}

.txtstatus {
  display: block;
  position: relative;
  color: $txt-color;
  font-size: 40px;
  font-weight: $font-weight;
  text-transform: $transform;
  font-family: $font-family;
  text-shadow: 2px 0px 3px #000;
  padding-top: 20px;
  padding-bottom: 10px;
}

#score, #blood, #level {
  font-weight: $font-weight;
  font-size: 40px;
  display: block;
  position: relative;
  /*top: 55px;*/
  font-family: $font-family;
}

.btn_option {
  padding-bottom: 20px;
  text-align: center;
}

#gReplay, #gPause, #gAnotherLV, #change_sound, #change_block {
  cursor: pointer;
  margin-left: 0px;
  position: relative;
  color: #ff9800;
  font-size: 20px;
  font-weight: $font-weight;
  margin-right: 25px;
  background: none;
  padding: 5px;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#gReplay:hover, #gPause:hover, #gAnotherLV:hover, #change_sound:hover, #change_block:hover {
  border: 1px solid $color-hover;
  -moz-box-shadow: 0px 0px 5px $color-hover;
  -webkit-box-shadow: 0px 0px 5px $color-hover;
  box-shadow: 0px 0px 5px $color-hover;
}

#board img {
  width: 55px;
  opacity: 1;
  border-color: #033 !important;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.choose_level {
  position: absolute;
  margin-top: -540px;
  margin-left: 606px;
  background-color: #fbe614;
  opacity: 92%;
  width: 280px;
  border-radius: 40px;
  z-index: 100;
}

.level_title {
  font-family: $font-family;
  text-align: center;
  font-size: 22px;
  font-weight: $font-weight;
  color: $time-text-color;
}

.level {
  align-items: center;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: $txt-color;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: $font-family;
  font-size: 100%;
  line-height: 1.15;
  margin: 10px 20px 20px 20px;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out, background .13s ease-in-out, opacity .13s ease-in-out, box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.level:active {
  background-color: #006AE8;
}

.level:hover {
  background-color: #1C84FF;
}

.close_level {
  overflow: hidden;
  position: absolute;
  border: none;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: transparent;
  color: #1da1f2;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
  margin-top: -58px;
  margin-left: 240px;
}

.close_level:hover {
  background: rgba(29, 161, 142, .1)
}

.close_level:before, .close_level:after {
  position: absolute;
  top: 15%;
  left: calc(50% - .0625em);
  width: .125em;
  height: 70%;
  border-radius: .125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: ''
}

.close_level:after {
  transform: rotate(-45deg);
}

.level-instructions {
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.game-instructions p {
  font-size: 16px;
  color: #666;
}